@{
    Layout = null;
    string basePath = Url.Content("~/Content/Login/v3/");
    string topicPath = Url.Content("~/Content/Login/");
}
<!DOCTYPE html>
<html lang="en" class="login-html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>艾客-社群电商，就用艾客好评，为传统电商定制的微信社群营销实效解决方案，艾客您的微信营销管家</title>
    <meta name="description" content="艾客平台是帮助电商商家借助微信与电商平台提升销量的平台，通过微信与淘宝切互通；返利提高销量；好评返现提升店铺好率；精准推送提升客人的再次购买。操作简单易上手，全力助您做好电商">
    <meta name="keywords" content="微信电商，淘宝好评返现，淘宝权重，淘宝微信分享，微信打开淘宝，提升动态评分，打造宝贝爆款，提升店铺DSR，淘宝购物微信返现">
    <link rel="stylesheet"href="@(basePath)css/css.css">
    <link href="@(topicPath)ofl/css/ofl.css" rel="stylesheet">
    <script src="@Url.Content("~/Scripts/jquery-1.11.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.scrollTo.js")"></script>
</head>
<body>
 @{Html.RenderPartial("~/Views/Index/_Header.cshtml", basePath);}
<div class="ofl-wrap">
    <div class="banner"></div>
    <div class="ofl-spm ofl-spm-1">
        <h1 class="title">你还在不科学的<b class="color-yl">”冲单”</b>吗？</h1>
        <ul class="tls">
            <li>
                <h2>痛点1</h2>
                <div class="desc">
                    “代冲”：搜索与匹配不契合，前功尽弃；周而复始，得不偿失虚假的盲目“冲刷”，看似令人可喜的效果背后，存在着诸多漏洞：搜索权重不稳定、信誉无保障、点击转化和排名提升难以兼得。为了昙花一现的效果，只得无休止地投入。
                </div>
            </li>
            <li>
                <h2>痛点2</h2>
                <div class="desc">
                    <p>“代冲”：费时费力费心，常规运营受影响，网络陷阱利大于弊网络操手的批量“冲刷”，需要卖家投入大量的精力进行跟踪：寻找操手、发布任务、验收效果！</p>
                    <p>投入成本飙升导致店铺缺乏常规运营，因小失大，遇到网络诈骗，碍于自身“冲刷”行为的不堪，钱财尽失。</p>
                </div>
            </li>
            <li>
                <h2>痛点3</h2>
                <div class="desc">
                    店铺促销形式单一，仅依靠单一优惠券，难以吸引粉丝买满目标金额、达到累计件数、助力新品促销，统统需要买家、粉丝积极参与，凭借单一优惠券发放，势单力薄，效果不佳!
                </div>
            </li>
        </ul>
        <div class="tx-1">
            诸多痛点层层阻拦？<br>
            转移返利“突破点”，迫在眉睫！
        </div>
    </div>
    <div class="ofl-spm ofl-spm-2">
        <h1 class="title">平台购  微信返“返利王”诞生了！！</h1>
        <div class="th2">全新【订单返利】，返到你满意！</div>
        <ul class="tls">
            <li>
                <h2>亮点1：活动搭建清晰便捷、省时省力</h2>
                <div class="desc">免去复杂的跟进流程，依照页面提示进行商品及活动配置审核自动化，<br>活动时长标准你来定！
                </div>
            </li>
            <li>
                <h2>亮点2：参与商品、活动门槛指定性强</h2>
                <div class="desc">明确选定参与返利商品，获返条件自定：件数、总价、比例，总有一款适合你！
                </div>
            </li>
            <li>
                <h2>亮点3：上新不再怕，销量快速累积</h2>
                <div class="desc">原价呈现的产品，通过订单返利活动实现后返特价。瞬时销量猛增，新品打造完成！</div>
            </li>
            <li>
                <h2>亮点4：真实订单操作，定义全新返利</h2>
                <div class="desc">真实购物操作，真实买家订单返利。销量稳增，历史售价不受影响保障店铺<br>各项权重指标的同时真正让利于买家让每个订单物尽其用！</div>
            </li>
        </ul>
    </div>
    <div class="ofl-spm ofl-spm-3">
        <h1 class="title">真&nbsp;&nbsp;实&nbsp;&nbsp;案&nbsp;&nbsp;例&nbsp;&nbsp;分&nbsp;&nbsp;享</h1>
        <h2>场景1：新款打造</h2>
        <div class="desc">
            <p class="p1">某商户针对上新的几款商品进行了【订单返利】活动设置，并将活动宣传推送给微信粉丝。</p>
            <p>结合【晒评价】 ，在获得买家真实优质评价的同时，迅速让新品获得关注度，销量单量均有较大提升。</p>
        </div>
        <div class="step2">
            <h2>场景2：满就返</h2>
            <div class="desc">
                <p class="p1">某商户针对全店除8件新款以外的全部商品进行了【满就返】活动设置，召集粉丝前来参加。</p>
                <p>当月复购率、粉丝数量、店铺销量全线飘红！</p>
            </div>
        </div>
    </div>
    <div class="ofl-spm ofl-spm-4">
        <h1 class="title">上万家顶级电商客户都选择我们，你还在等什么？</h1>
    </div>
    <div class="ofl-spm ofl-spm-5">
        <h1 class="title">免费体验</h1>
        <div class="desc">
            <p>现在申请立获免费体验 <del>（原价1元/单）</del></p>
            <p>充值赠送<span class="red">增粉神器大礼包</span>，每天限<span class="red">前10名赠送</span>（抢到名额的联系客服领取）</p>
        </div>
        <form>
            <div id="fm" class="spm-form">
                <ul class="ls">
                    <li>
                        <label class="title">公司名/店铺名<span class="star">*</span></label>
                        <input id="CustomerName" name="CustomerName" class="input required" type="text" data-error-required="请输入公司名/店铺名">
                        <p data-for="CustomerName" class="error"></p>
                    </li>
                    <li>
                        <label class="title">联系人<span class="star">*</span></label>
                        <input id="Contacts" name="Contacts" class="input required" type="text" data-error-required="请输入联系人名称">
                        <p data-for="Contacts" class="error"></p>
                    </li>
                    <li>
                        <label class="title">职位<span class="star">*</span></label>
                        <input id="Position" name="Position" class="input required" type="text" data-error-required="请输入您的职位">
                        <p data-for="Position" class="error"></p>
                    </li>
                    <li>
                        <label class="title">手机号码<span class="star">*</span></label>
                        <input id="PhoneNumber" name="PhoneNumber" class="input required" type="text" data-error-required="请输入手机号码" data-regexp="/^1[3|4|5|7|8][0-9]\d{4,8}$/" data-error-regexp="手机号码不正确">
                        <p data-for="PhoneNumber" class="error"></p>
                    </li>
                    <li>
                        <label class="title">ＱＱ号码<span class="star">*</span></label>
                        <input id="QQNumber" name="QQNumber" class="input required" type="text" data-error-required="请输入您的ＱＱ号码" data-regexp="/^[1-9][0-9]{4,9}$/" data-error-regexp="ＱＱ号码不正确">
                        <p data-for="QQNumber" class="error"></p>
                    </li>
                </ul>
                <button id="BtnSubmit" class="btn-submit" type="submit">提交</button>
            </div>
        </form>
    </div>
</div>
@{Html.RenderPartial("~/Views/Index/_ScrollMenu.cshtml");}
@{Html.RenderPartial("~/Views/Index/_Footer.cshtml", basePath);}
<div class="mp-menu-rt">
    <a class="a1" href="#hp-joinus"></a>
    <a class="a2" target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=3004592282&amp;site=qq&amp;menu=yes"></a>
    @*<a class="a3" target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid=%E5%A5%BD%E8%AF%84%E5%88%A9%E5%99%A8&siteid=cntaobao&status=2&charset=utf-8"></a>*@
</div>
<script>
  function simpleValid($this) {
    var $els = $this || $('.required'),isPassAll = true;
    $els.each(function () {
      var id = $(this).attr('id'),isValid = true,
        error = null,
        regexp = $(this).attr('data-regexp');
      regexp = regexp ? eval(regexp) : null;
      var val = $(this).val();

      if($(this).attr('type') === 'checkbox' && !($(this).is(':checked'))){
        isValid = false;
        error = $(this).attr('data-error-required') || "不能为空";
      }else{
        isValid = $(this).hasClass('required') ? val !== '' : true;

        if(!isValid){error = $(this).attr('data-error-required') || "不能为空";}
        if(isValid && regexp !== null){
          isValid = regexp.test(val);
          if(!isValid){
            error = $(this).attr('data-error-regexp') || "数据格式不正确";
          }
        }
      }

      if(!isValid){
        $('.error[data-for="'+id+'"]').text(error).show();
        $(this).addClass('input-error');
      }else{
        $(this).removeClass('input-error');
      }
      if(!isValid) isPassAll = false;
    });

    return isPassAll;
  }
  $(function () {
    $('.required').blur(function () {
      simpleValid($(this));
    });
    $('.required').focus(function () {
      var id = $(this).attr('id');
      $('.error[data-for="'+id+'"]').hide();
      $(this).removeClass('error');
    });
    $('#BtnSubmit').on('click',function () {
      var isPass =  simpleValid();
      if(isPass){
        // console.log(isPass);
      }
      return isPass;
    });
    $(".fast-contact-adv .link-form").on("click", function (e) {
        e.preventDefault();
        var href = $(this).attr('href');
        if (href && href.indexOf('#') != -1) {
            var anchor = this.hash;
            if (anchor.indexOf('#') == -1) id = '#' + id;
            $(anchor).ScrollTo(500);
            $(this).parents('ul').find('a').removeClass("active");
            $(this).addClass('active');

        }
    });
  });
</script>
</body>
</html>