@{
    ViewBag.Title = "基本信息-注册";
    Layout = "~/Views/Shared/_LayoutLoginWithReg.cshtml";
    ViewBag.webIsLogin = false;    
}
<div class="regWrapper">
    <img src="/Content/reghelp/01.png" style="border:1px #999 solid;display:block;" /><br />
    <img src="/Content/reghelp/02.png" style="border:1px #999 solid;display:block;"/><br />
    <img usemap="#regdes" src="/Content/reghelp/03.png" style="border:1px #999 solid;display:block;"/>
    <map name="regdes" id="regdes">
      <area shape="rect" coords="659,270,747,340" href ="/Content/reghelp/doc/01艾客账号申请流程.docx" style="cursor: pointer" />
    </map><br />
    <img usemap="#orderapp" src="/Content/reghelp/04.png" style="border:1px #999 solid;display:block;"/>
    <map name="orderapp" id="orderapp">
      <area shape="rect" coords="486,221,565,291" href ="/Content/reghelp/doc/02聚好评应用订购详情.docx" style="cursor: pointer" />
      <area shape="rect" coords="489,300,568,365" href ="/Content/reghelp/doc/02京东应用订购详情.docx" style="cursor: pointer" />
      <area shape="rect" coords="488,387,572,457" href ="/Content/reghelp/doc/02一号店接入流程.docx" style="cursor: pointer" />
    </map><br />
    <img usemap="#wxservice" src="/Content/reghelp/05.png" style="border:1px #999 solid;display:block;"/>
    <map name="wxservice" id="wxservice">
      <area shape="rect" coords="702,247,782,315" href ="/Content/reghelp/doc/03微信服务号的申请流程.docx" style="cursor: pointer" />
      <area shape="rect" coords="700,432,783,498" href ="/Content/reghelp/doc/03微信支付申请开通流程.docx" style="cursor: pointer" />
    </map><br />
    <img src="/Content/reghelp/06.png" style="border:1px #999 solid;display:block;"/><br />
    <img usemap="#wxpayconfig" src="/Content/reghelp/07.png" style="border:1px #999 solid;display:block;"/>
    <map name="wxpayconfig" id="wxpayconfig">
      <area shape="rect" coords="655,278,741,346" href ="/Content/reghelp/doc/05微信支付配置流程操作.docx" style="cursor: pointer" />
    </map><br />
    <img src="/Content/reghelp/08.png" style="border:1px #999 solid;display:block;"/>

</div>
