.hp-wgj-layout{
  width: 100%;
  margin: 0 auto;
}
.hp-wgj-layer{
  max-width: 1920px;
  min-width: 1200px;
  margin: 0 auto;
}
.hp-wgj-wrap{
  width: 1200px;
  margin: 0 auto;
}
.hp-wgj-banner{
  min-width: 1200px;
  height: 480px;
  position: relative;
  background: url(../images/wgj-banner1.jpg) center center no-repeat;
  margin-top: 71px;
  overflow: hidden;
  color: #fff;
}
.hp-wgj-banner .hp-wgj-banner__title{
  margin: 0;
  padding-top: 135px;
  font-family: "微软雅黑";
  font-size: 42px;
  line-height: 55px;
  padding-bottom: 10px;
  font-weight: normal;
  font-style: normal;
}
.hp-wgj-banner .hp-wgj-banner__des{
  padding-bottom: 50px;
  font-size: 24px;
  font-family: "宋体";
}
.hp-wgj-banner .hp-wgj-register{
  display:inline-block;
  padding: 10px 50px;
  color: #fff;
  font-size: 16px;
  border-radius: 3px;
  background-color: #2c90ed;
}
.hp-wgj-feature{
  padding-bottom: 100px;
  background-color: #f5f5f5;
}
.hp-wgj-feature .hp-wgj-feature__title{
  text-align: center;
  font-family: "微软雅黑";
  font-size: 48px;
  color: #1e1c28;
  font-weight: normal;
  font-style: normal;
  margin: 0;
  padding: 75px 0 80px; 
}
.hp-wgj-feature .feature-category,
.hp-wgj-feature .category-item{
  margin: 0;
  padding: 0;
}
.hp-wgj-feature .category-item{
  float: left;
  margin: 5px;
  width: 230px;
  height: 290px;
  text-align: center;
  background-color: #fff;
}
.hp-wgj-feature .category-item:hover{
  animation:bgColor 3s infinite;
  -webkit-animation:bgColor 3s infinite; 
  background-color: #4877b0;
}

@keyframes bgColor{
  from {background-color:#9ec7f9;}
  to {background-color: #4877b0}
}

@-webkit-keyframes bgColor 
{
  from {background-color:#9ec7f9;}
  to {background-color: #4877b0}
}

.hp-wgj-feature .category-item:hover .category-item__title ,
.hp-wgj-feature .category-item:hover .category-item__des{
  color: #fff;
}
.hp-wgj-feature .category-item__icon{
  height: 97px;
  line-height: 97px;
}
.hp-wgj-feature .hp-wgj-sprite--bottom{
  vertical-align: bottom;
}
.hp-wgj-feature .category-item__title{
  margin: 0;
  padding: 18px 0 20px;
  font-size: 18px;
  color: #333;
  font-weight: normal;
  font-style: normal;
}
.hp-wgj-feature .category-item__des{
  font-size: 14px;
  color: #666;
  padding: 0 30px;
}
.hp-wgj-trait{
  padding-bottom: 50px;
  background-color: #fff;
}
.hp-wgj-trait .hp-wgj-padding-lr{
  padding-left: 104px;
  padding-right: 104px;
}
.hp-wgj-trait .hp-wgj-trait__item--1{
  padding-top: 75px;
}
.hp-wgj-trait__item--1 .item__img--1{
  float: left;
  width: 419px;
  height: 316px;
  background-image: url("../images/trait1.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 419px 316px;
}
.hp-wgj-trait__item--1 .item__info{
  float: right;
}
.hp-wgj-trait__item .info-container__title{
  margin: 0 ;
  margin-left: -18px;
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 30px;
  color: #000;
  font-weight: normal;
  font-style: normal;
}
.hp-wgj-trait__item .info-container__sub--menu{
  color: #333;
  font-size: 24px;
  margin-left: -18px;
}
.hp-wgj-trait__item .info-container__list{
  font-size: 16px;
  color: #666;
}
.hp-wgj-trait__item .info-container__list li{
  list-style-type: disc;
  padding: 10px 0;
}
.hp-wgj-trait__item--2 .item__img--2{
  float: right;
  margin-top: 55px;
  width: 258px;
  height: 292px;
  background-image: url("../images/trait2.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 258px 292px;
}
.hp-wgj-trait__item--2 .item__info{
  float: left;
  width: 665px;
}
.hp-wgj-trait__item--3 .item__img--3{
  float: left;
  margin-top: 55px;
  width: 239px;
  height: 301px;
  background-image: url("../images/trait3.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 239px 301px;
}
.hp-wgj-trait__item--3 .item__info{
  float: right;
  padding-top: 120px;
  width: 535px;
}
.hp-wgj-trait__item--4 .item__img--4{
  float: right;
  margin-top: 100px;
  width: 493px;
  height: 493px;
  background-image: url("../images/trait4.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 493px 493px;
}
.hp-wgj-trait__item--4 .item__info{
  float: left;
  padding-top: 50px;
  width: 485px;
}
.hp-wgj-case{
  text-align: center;
  padding-top: 70px;
  padding-bottom: 90px;
  background-color: #f1f1f1;
}
.hp-wgj-case .hp-wgj-case__title{
  font-size: 48px;
  font-style: normal;
  font-weight: normal;
  font-family: "微软雅黑";
}
.hp-wgj-case__list{
  padding: 70px 28px 0;
}
.hp-wgj-case__list li{
  float: left;
  margin: 9px 13px;
  width: 355px;
  height: 300px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background-color: #fff;
}
.hp-wgj-case .list-item__image{
  width: 355px;
  height: 155px;
}
.hp-wgj-case .list-item__image img{
  max-width: 355px;
  max-height: 155px;
  vertical-align: middle;
}
.hp-wgj-case .list-item__info{
  padding: 10px 34px;
  text-align: left;
  color:#666;
  font-size: 14px;
  position: absolute;
  top:155px;
  background-color: #fff;
}
.hp-wgj-case .shop-logo{
  width: 100%;
  height: 68px;
  line-height: 68px;
  text-align: left;
}
.hp-wgj-case .shop-logo img{
  max-width: 100%;
  max-height:68px; 
  vertical-align: middle;
}
.hp-wgj-case .shop-des{
  padding-top: 30px;
  height: 160px;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
}
.hp-wgj-contact{
  background-color: #fff;
  text-align: center;
  padding: 55px 0 75px;
}
.hp-wgj-contact .hp-wgj-title{
  font-size: 28px;
  color: #333;
  font-style: normal;
  font-weight: normal;
}
.hp-wgj-contact .hp-wgj-des{
  color: #999;
  font-size: 18px;
}
.hp-wgj-contact .hp-wgj-contact-info{
  margin: 50px auto 0;
  width: 885px;
  height: 475px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 5px 2px 5px 0px rgba(210, 211, 212, 0.79);
}
.hp-wgj-contact .spm-form {
  width: 604px;
  margin: 0 auto;
  padding: 72px 0;
}
.hp-wgj-contact .spm-form .ls{
  padding-bottom: 10px;
}
.hp-wgj-contact .spm-form li{
  margin-bottom: 20px;
  position: relative;
}
.hp-wgj-contact .spm-form li:after{
  content: ' ';
  display: table;
  clear: both;
}
.hp-wgj-contact .spm-form li .title{
  display: block;
  width: 100px;
  text-align: right;
  float: left;
  font-size: 18px;
  color: #000000;
  line-height: 50px;
  margin-right: 33px;
}
.hp-wgj-contact .spm-form li .star{
  color: #ff0000;
}
.hp-wgj-contact .spm-form li .input{
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  width: 470px;
  border: 1px #e0d1b7 solid;
  outline: 0;
 font-size:14px;
}
.hp-wgj-contact .spm-form .btn-submit{
  width: 240px;
  height: 40px;
  line-height: 38px;
  background-color: #2c90ed;
  color: #ffffff;
  text-align: center;
  border: 0;
  border-radius: 30px;
  font-size: 18px;
  margin:0 auto;
  outline: 0;
}
.hp-wgj-contact .spm-form li input.error{
  border-color: #ef1921;
}
.hp-wgj-contact .spm-form li .input-error-message,
.hp-wgj-contact .spm-form li p.error{
  margin: 0;
  padding: 0;
  width: 471px;
  text-align: left;
  color: #ef1921;
  font-size: 12px;
  position: absolute;
  top: 50px;
  right: 0;
  display: none;
}
.hp-wgj-contact .spj-spm-10 .spm-form{
  margin-left: 140px;
}
.hp-wgj-contact .spm-form li .input {
  border-color: #999;
}
.hp-wgj-contact .spm-form #btngetcode {
  float: right;
  width: 109px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  background-color: #999;
}
.hp-wgj-footer{
  padding: 20px 0;
  line-height: 28px;
  text-align: center;
  font-size: 14px;
  color: #f2f1f6;
  background-color: #23272b;
}


.hp-wgj-sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(../images/wgj-icon.png);}
.icon-hp-wgj-appraise {width:45px; height:42px; background-position: -65px -10px}
.feature-category li.category-item:hover .icon-hp-wgj-appraise, 
.icon-hp-wgj-appraise:hover {width:45px; height:42px; background-position: -10px -10px}
.icon-hp-wgj-aptitude {width:45px; height:45px; background-position: -175px -10px}
.feature-category li.category-item:hover .icon-hp-wgj-aptitude,
.icon-hp-wgj-aptitude:hover {width:45px; height:45px; background-position: -120px -10px}
.icon-hp-wgj-code {width:42px; height:42px; background-position: -62px -65px}
.feature-category li.category-item:hover .icon-hp-wgj-code,
.icon-hp-wgj-code:hover {width:42px; height:42px; background-position: -10px -65px}
.icon-hp-wgj-fans {width:52px; height:51px; background-position: -176px -65px}
.feature-category li.category-item:hover .icon-hp-wgj-fans,
.icon-hp-wgj-fans:hover {width:52px; height:51px; background-position: -114px -65px}
.icon-hp-wgj-message {width:42px; height:38px; background-position: -62px -126px}
.feature-category li.category-item:hover .icon-hp-wgj-message,
.icon-hp-wgj-message:hover {width:42px; height:38px; background-position: -10px -126px}
.icon-hp-wgj-network {width:52px; height:51px; background-position: -176px -126px}
.feature-category li.category-item:hover .icon-hp-wgj-network,
.icon-hp-wgj-network:hover {width:52px; height:51px; background-position: -114px -126px}
.icon-hp-wgj-packet {width:36px; height:42px; background-position: -56px -187px}
.feature-category li.category-item:hover .icon-hp-wgj-packet,
.icon-hp-wgj-packet:hover {width:36px; height:42px; background-position: -10px -187px}
.icon-hp-wgj-service {width:53px; height:55px; background-position: -165px -187px}
.feature-category li.category-item:hover .icon-hp-wgj-service,
.icon-hp-wgj-service:hover {width:53px; height:55px; background-position: -102px -187px}
.icon-hp-wgj-shield {width:42px; height:51px; background-position: -62px -252px}
.feature-category li.category-item:hover .icon-hp-wgj-shield,
.icon-hp-wgj-shield:hover {width:42px; height:51px; background-position: -10px -252px}
.icon-hp-wgj-sync {width:42px; height:42px; background-position: -166px -252px}
.feature-category li.category-item:hover .icon-hp-wgj-sync,
.icon-hp-wgj-sync:hover {width:42px; height:42px; background-position: -114px -252px}
