<!-- buoy -->
<div class="buoy">
      <ul>
            <li class="consultHover">
              <a target="_blank" class="icon icon-qq" href="http://wpa.qq.com/msgrd?v=3&uin=3004592282&site=qq&menu=yes"></a>
              <p class="consult">欢迎您的咨询</p>
            </li> 
            <li class="telephoneHover">
                <i class="icon icon-telephone"></i>
                <div class="telephone">
                    <i class="icon icon-telephone-active float-left"></i><span>400-832-0166</span>
                </div>
            </li>
            <li class="markCodeHover">
                <i class="icon icon-mark-code"></i>
                <img src="/Content/new/images/wx-code.png" class="markCode">
            </li>
            <li class="back-top"><i class="icon icon-top"></i></li>
        </ul>
</div>
<!-- /buoy -->
<script>
    //回到顶部
    $(".back-top").click(function () {
        $('html,body').animate({ scrollTop: 0 }, 500);
    });
</script>
