@{
    Layout = null;
}

<div class="fotter-wrap" id="contact">
    <div class="inside-footer clearfix">
        <div class="c-cl c-1 c-fl">
            <div class="tel">合作联系</div>
            <div>联系人：小艾<br/>
                联系电话：130 7670 3796 
                周一至周五（9:00-18:00）<br/>
                邮箱：info@aiagain.com<br/>
                地址：广州天河区华夏路28号富力盈信大厦18楼1813室
            </div>
        </div>
         <div class="c-cl c-1 c-fl">
            <div class="tel">代理加盟</div>
            <div>联系人：张小姐<br/>
                联系电话：180 0225 7787<br/>
            </div>

            <div>
               <div class="bdsharebuttonbox" style="margin-top:10px;"><span style="float:left;position:relative;top:4px;">分享：</span><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a></div>
               <script>window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "", "bdMini": "2", "bdMiniList": false, "bdPic": "", "bdStyle": "0", "bdSize": "16" }, "share": {} }; with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>
            </div>

          </div>
@*        <div class="c-cl c-2 c-fl">
            <div class="inside-footer">加盟联系  张小姐  18002257787</div>
            <a href="http://www.miitbeian.gov.cn" target="_blank">粤ICP15027667号-1</a><br/>
                版权信息：copyright © 2016 www.aiagain.com All Rights Reserved<br/>
                广州壹豆网络科技有限公司版权所有            
        </div>*@
        <div class="code c-fr">
            <img src="@(Model)images/sy-code.jpg">
        </div>
    </div>
    <div style="background-color:#1e1e1e;height:30px; line-height:30px;text-align:center;color:white;">
        <a href="http://www.miitbeian.gov.cn" target="_blank">粤ICP15027667号-1</a> 版权信息：copyright © 2016 www.aiagain.com All Rights Reserved
        广州壹豆网络科技有限公司版权所有
    </div>
</div>