@{
    Layout = null;
}
@*<div class="scroll-menu">
    <div class="inner">
        <div class="content">
            <div class="item"><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=401876379&amp;site=qq&amp;menu=yes"><span>
                <img border="0" src="http://wpa.qq.com/pa?p=2:401876379:52"></span>QQ咨询</a></div>
            <div class="item">
                <a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid=%E5%A5%BD%E8%AF%84%E5%88%A9%E5%99%A8&siteid=cntaobao&status=2&charset=utf-8"><img border="0" src="http://amos.alicdn.com/online.aw?v=2&uid=%E5%A5%BD%E8%AF%84%E5%88%A9%E5%99%A8&site=cntaobao&s=2&charset=utf-8" alt="点这里给我发消息" title="" /> 旺旺咨询</a>
                
            </div>
            <div class="concact fir">
                <p>合作联系</p>
                <p class="tel">130 7670 3796 （小艾）</p>
            </div>
            <div class="concact">
                <p>代理加盟</p>
                <p class="tel">134 2758 3844（官小姐）</p>
            </div>
        </div>
    </div>
</div>*@
<div class="scroll-menu scroll-menu2">
    <div class="inner">
        <a target="_blank" class="it qq" href="http://wpa.qq.com/msgrd?v=3&amp;uin=3004592282&amp;site=qq&amp;menu=yes"><span>
                @*<img border="0" src="http://wpa.qq.com/pa?p=2:3004592282:52"></span>QQ咨询</a>
        <a target="_blank" class="it ww" href="http://www.taobao.com/webww/ww.php?ver=3&touid=%E5%A5%BD%E8%AF%84%E5%88%A9%E5%99%A8&siteid=cntaobao&status=2&charset=utf-8"><img border="0" src="http://amos.alicdn.com/online.aw?v=2&uid=%E5%A5%BD%E8%AF%84%E5%88%A9%E5%99%A8&site=cntaobao&s=2&charset=utf-8" alt="点这里给我发消息" title="" /> 旺旺咨询</a>*@
    </div>
</div>