body{
    position: relative;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    color:#6e6e6e;
    font-size:14px;
    font-family:"Microsoft YaHei","微软雅黑";

}
*:focus{
    outline: 0;
}
.clearfix{*zoom:1;}
.clearfix:after{display:block; overflow:hidden; clear:both; height:0; visibility:hidden; content:".";}

a{color:#6e6e6e}
a:hover, a:focus,a:visited{text-decoration:none;}
ol,ul,li{
    padding: 0;
    margin: 0;
    list-style: none;
}
img{
    display: inline-block;
    max-width: 100%;
    vertical-align: top;
}
.carouselContainer{ position:absolute; width:1920px; top:0; left:50%; margin-left:-960px;}
.carouselContainer .caroufredsel_wrapper{}
.carouselContainer ul{padding: 0;}
.carouselContainer ul li{ height:502px;list-style: none;}
.carouselPager{ position:absolute; bottom:15px; left:0; z-index:1; width:100%; text-align:center;}
.carouselPager a{ display:inline-block;*display:inline; *zoom:1; width:13px; height:13px; background:url(../loginImages/carousel-doc.png) center center no-repeat; margin:0 5px;}
.carouselPager a.selected{width: 25px; background:url(../loginImages/carousel-current-doc.png) center center no-repeat;}
.carouselPager a span{ display:none;}

.c-fl{
    float: left;
}
.c-fr{
    float: right;
}
.wrapper{
    max-width: 1920px;
    margin: 0 auto;
    padding-top: 61px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}
.header-wrap{
    width: 100%;
    margin: 0 auto;
    height: 60px;
    line-height: 60px;
    position: fixed;
    _position: absolute;
    z-index: 9999;
    left: 0;
    top: 0;
    background: #ffffff;
    border-bottom: 1px #e6e6e6 solid;
}
.header-main{
    background-color: #ffffff;
}
.header-main,.home-section,.cus-section,.news-section,.inside-footer{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.h-nav{
    float: left;
    line-height: 60px;
    font-size: 18px;
    color: #666666;
}
.h-nav li{
    float: left;
    padding: 0 20px;
}
.table{
    display: table;
    *border-collapse: collapse;
    border-spacing: 0;
}
.table .row{
    display: table-row;
}
.table .cell{
    display: table-cell;
}
.h-nav a{ color: #666666; text-decoration: none;}
.h-nav a:hover,.h-nav a.active{ color: #2b7fe8;}
.h-reg{
    float: left;
}
.reg-link{
    display: inline-block;
    background: url("../loginImages/btn-bg01.jpg") center center no-repeat;
    width:79px;
    height:29px;
    line-height: 29px;
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
}
.reg-link:hover{
    color: #ffffff;
}
.carousel-wrap{
    width: 100%;
    height: 502px;
    position: relative;
    overflow: hidden;
}
.carousel-inside{
    position: absolute;
    width: 1920px;
    top: 0;
    left: 50%;
    margin-left: -960px;
}
.case-wrap{
    background-color: #ffffff;
}
.h-sec-title{
    padding: 25px 0 0 0;
    margin: 0  auto;
    font-size: 26px;
    color:#000000;
    font-weight: normal;
    display: block;
    width: 418px;
    line-height: 60px;
    text-align: center;
    border-bottom: 1px #dfdfdf solid;
    position: relative;
}
.h-sec-title hr{
    position: absolute;
    bottom: -3px;
    left: 50%;
    margin: 0 0 0 -30px;
    padding: 0;
    height:0;
    width: 60px;
    border-top: 3px #0f6fd8 solid;
    border-radius: 0;
    -webkit-border-radius: 0;
    overflow: hidden;
}
.h-sec-content{
    padding: 30px 0;
    color: #525252;
}
.h-sec-content ul{
    width: 100%;
}
.h-sec-content li{
    float: left;
    width: 50%;
    padding: 30px 0;
}
.h-sec-content li .i-wrap{
    width: 500px;
}
.h-sec-content .s-p-logo{
    text-align: center;
}
.h-sec-content .s-p-text{
    padding-top: 36px;
    font-size: 16px;
    background: url("../loginImages/bock.jpg") left top no-repeat;
    height: 100px;
}
.h-sec-content .s-p-ft{
    font-size: 16px;
}
.h-sec-content .s-p-ft .c-fl{
    color: #999999;
    font-size: 12px;
    position: relative;
    cursor: pointer;
}
.h-sec-content .s-p-ft .code{
    background:url("../loginImages/code-min.jpg") center center no-repeat;
    display: inline-block;
    width: 17px;
    height: 17px;
    vertical-align: middle;
    margin-right: 8px;
    color: #999999;
    position: relative;
}
.h-sec-content .s-p-ft .code p{
    transition:transform .25s ease-out;
    position: absolute;
    top:50px;
    padding: 0;
    margin: 0;
    width: 132px;
    height: 132px;
    padding: 0;
    background-color: #ffffff;
    overflow: hidden;

    display: none;
    -webkit-transition:top .2s ease-in-out;
    -moz-transition:top .2s ease-in-out;
    -o-transition:top .2s ease-in-out;
    -ms-transition:top .2s ease-in-out;
    transition:top .2s ease-in-out;
}

.h-sec-content .s-p-ft .c-fl:hover p{
    display: block;
    top:-134px;
}

.cus-wrap{
    background: #fbfbfb;
    padding-top: 20px;
}
.h-cus-content{
    padding-top: 55px;
}
.h-cus-content ul{
    margin-left: -12px;
    margin-right: -12px;
}
.h-cus-content li{
    float: left;
    margin: 0 12px;
}
.h-cus-content li .cus-pic-cn{
    width: 178px;
    height: 178px;
    border: 1px #f2f2f2 solid;
    position: relative;
    overflow: hidden;
}
.h-cus-content li .cus-code{
    position: absolute;
    top:0;
    left: 0;
    width: 178px;
    height: 178px;
    opacity: 0;
    -webkit-transition:1s;
    transition:1s;
    -webkit-transform:scale(0.5);
    -moz-transform:scale(0.5);
    transform:scale(0.5);
}
.h-cus-content li .cus-code img{
    width: 100%;
}

.h-cus-content li .in-title{
    text-align: center;
    padding-top: 15px;
    height: 50px;
    color: #999999;
}
.h-cus-content li:hover .cus-code{
    display: block;
    opacity: 1;
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    transform:scale(1);
}
.h-cus-content li:hover .in-title{
    color: #333333;
}
.home-news-wrap{
    background: #ffffff;
}
.news-section{
    margin-bottom: 150px;
}
.blue,.blue a{
    color: #007cd8;
}
.h-news-content{
    line-height: 1.8;
}
.h-news-content .column{
    float: left;
    width: 33.3333%;
}
.h-news-content .column-1 .inside-wrap{
    margin-right: 40px;
}
.h-news-content .column-2 .inside-wrap{
    margin-right: 40px;
    margin-left: 40px;
}
.h-news-content .column-3 .inside-wrap{
    margin-left: 40px;
}
.h-news-content p{
    margin-top: 0;
    margin-bottom: 10px;
}
.h-news-content .c-th{
    font-size: 14px;
    color: #000000;
    padding: 28px 0;
}

.h-news-items li{
    width: 100%;
    display: block;
    height: 25px;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    -webkit-text-overflow:ellipsis;
    margin-bottom: 2px;
}
.h-news-items a{
    text-decoration: none;
}
.h-news-items a:hover{
    text-decoration: underline;
    color: #007cd8;
}
.con-items li{
    float: left;
}
.con-items li.c-fr{
    float: right;
}
.love-item-title span {
    display: -webkit-box;
    overflow: hidden;
    font-size: 12px;
    text-align: left;
    height: 28px;
    line-height: 14px;
    color: #333;

    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.fotter-wrap{
    background-color: #333739;
}
.inside-footer{
    color: #ffffff;
    font-size: 12px;
    line-height: 1.5;
}
.inside-footer .tel{
    margin-bottom: 10px;
}
.inside-footer .c-cl{
    width: 385px;
    height: 110px;
    border-left: 1px #4e5254 solid;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
    margin-bottom: 18px;
}
.inside-footer .c-2{
    font-family: "宋体";
    color: #666666;
    line-height: 2;
}
.inside-footer .c-2 p{
    display: block;
    padding-top: 18px;
    margin: 0;
}
.inside-footer .code{
    width: 234px;
    height: 165px;
    background-color: #3c4044;
    overflow: hidden;
}
.login-panel {
    position:absolute;
    top:0;
    left:50%;
    width:50%;
    max-width:600px;
    z-index:9;
}
.login-form{
    box-sizing:content-box;
    width: 356px;
    height: 350px;
    padding: 8px 5px;
    background: #ffffff;
    position:absolute;
    right:0;
    top:70px;
}
.login-form .inner{
    padding:15px 25px;
}
.login-form .inner h1{
    padding: 0; margin: 0; font-weight: normal; font-size: 30px; color: #666666;
    margin-bottom: 16px;
}
.login-form .inner .va-msg{
    font-size: 12px;
    color: #ff0000;
    background: #fdbfbf;
    margin-top: -14px;
    margin-bottom: 2px;
    padding: 5px;
    border-radius: 2px;
    display: none;
}
.login-form section{
    display: block;
    background-color: #ffffff;
    margin-bottom: 15px;
    position: relative;
}
.login-form section.none{
    background: none;
}
.login-form section p{
    padding: 0;margin: 0;
    position: absolute;
    top: 0;
    line-height: 42px;
    color: #aeaeae;
    z-index: 1;
    display: none;
}
.no-cssgradients .login-form section p{
    display: block;
}
.login-form section input[type='text'],.login-form section input[type='password']{
    margin: 0;
    border: 0;
    background: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px #d6d6d6 solid;
    height: 42px;
    line-height: 42px;
    padding: 0 10px;
    width: 286px;
    position: relative;
    z-index: 2;
}
.login-form section input[type="checkbox"]{

}
.login-form button{
    border: 0;
    color: #76a32d;
    font-size: 18px;
    width: 306px;
    height: 43px;
    background-color: #007edc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #ffffff;
}
.login-form .ms-tips{
    padding-top: 30px;
    text-align: right;
}
.login-form .ms-tips a{
    color: #007edc;
    margin-left: 20px;
    text-decoration: none;
}
.login-form .ms-tips .left {
    float:left;
    color:#999999;
}