.hp-header img, .hp-features img, .hp-backpay img, .hp-godtool img, .hp-more img {
    width:100%;
    margin:0 auto;
}
.hp-header,.hp-features,.hp-backpay,.hp-godtool,.hp-partner,.hp-more {
    width:100%;
    margin:0 auto;
}
a.hp-right-nav {
  position: fixed;
  right: 0;
  top: 75%;
  width: 150px;
  height: 55px;
  background: url(../images/hp-right-nav02.png) no-repeat center center;
  background-size: contain;
  overflow: hidden;
}
a.hp-right-nav span{
  position: relative;
  right: 9999px;
}
a.hp-right-nav:hover {
  background: url(../images/hp-right-nav02.png) no-repeat center center;
  background-size: contain;
}
.hp-partner .hp-merchants {
  margin: 0 auto;
  overflow: hidden;
  width: 45%;
  text-align: center;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  padding: 0 0 30px;
}
.hp-partner .hp-merchants.fl-merchants {
  width: 50%;
}
.hp-merchants h4{
  color: #333333;
  font-weight: 800;
  font-size: 30px;
  margin: 15px 0;
}
.hp-merchants li {
  float: left;
  width: 25%;
}
.hp-merchants li .marchant-logo{
  margin: 10px 20px;
  position: relative;
}
.hp-merchants.fl-merchants li .marchant-logo {
  margin: 10px 10px 0 0;
}
.hp-merchants li .marchant-qrcode{
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}
.hp-merchants li .marchant-qrcode img{width: 100%;}
.hp-merchants li .marchant-logo:hover .marchant-qrcode{
  display: block;
  opacity: 1;
  -webkit-transform:scale(1);
  transform: scale(1);
}
.hp-form {
  background: url(../images/05.jpg) repeat-y center center;
  background-size: cover;
  text-align: center;
  padding: 30px 0;
}
.hp-form .merchant-form{
  margin: 0 auto;
  background-color: #ffffff;
  overflow: hidden;
  width: 45%;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  border-radius: 3px;
}
.merchant-form h4{
  color: #333333;
  font-weight: 800;
  font-size: 30px;
  margin: 15px 0;
}
.merchant-form table {
  text-align: center;
  width: 80%;
  margin:0 auto;
}
.merchant-form table  td{
  padding: 10px 0;
  font-size: 20px;
}
.merchant-form table  tr td:only-child{
  text-align: center;
}
.merchant-form table  td:first-child{
  width: 30%;
  color: #999999;
  vertical-align: middle;
  text-align: right;
}
.merchant-form table  td i{
  display: inline-block;
  vertical-align: middle;
  color: #ff0000;
  font-style: normal;
}
.merchant-form table  td input{
  border:1px solid #cccccc;
  padding:10px;
  width: 80%;
}
.merchant-form table  td input[type='button']{
  background-color: #ee1f41;
  color: #ffffff;
  font-weight: 800;
  font-size: 20px;
  border-radius: 50px;
  max-width: 350px;
  width: 55%;
  cursor: pointer;
}
.hp-heade-v2 {
    height:563px;
    width:100%;
    max-width:1920px;
    margin:0 auto;
    position:relative;
    overflow:hidden;
}
.hp-heade-v2 .pic{
    width:1920px;
    position:absolute;
    top:0;
    left:50%;
    margin-left:-960px;
}
.cns-wrap {
    width:891px;
    margin:0 auto;
}
.form-wra-v2{
    width:876px;
    margin-left:1px;
    background-color:#ffffff;
    border-left:7px #6666ff solid;
    border-right:7px #6666ff solid;
    border-bottom:7px #6666ff solid;
    margin-bottom:70px;
}
.form-wra-v2 .merchant-form .submit {
    width:253px;
    height:54px;
    background:url("../170327/fl-p-btn-01.jpg") center center no-repeat;
    margin:28px 0 23px 250px;
}
.link-more{
   display:block;
   width:253px;
   height:54px;
   margin:44px auto 80px auto;
}
/*.scroll-menu {
    width:227px;
    height:210px;
}
    .scroll-menu .inner {
        width:227px;
        height:210px;
    }
.scroll-menu .inner{
        background: url(../170327/fl-scoll-menu-bg.png) center top no-repeat;
}*/
.pp-rt{
    position: fixed;
    right: 0;
    top: 75%;
    width: 196px;
    height: 169px;
}
.pp-rt .link {
   display:block;
   position:absolute;
   width:150px;
   height:35px;
   top:112px;
   left:26px;
}
.pp-rt .close{
    display:block;
    position:absolute;
    top:0;
    right:0;
    width:32px;
    height:32px;
    cursor:pointer;
}
.scroll-menu {
    display:block;
    top:20%;
}
.scroll-menu-fl {
    display:none;
}