*{
  padding: 0 ;
  margin: 0;
}
.layout{
  width: 100%;
  min-width: 1200px;
  font-size: 16px;
  font-family: "微软雅黑";
}
.layer-container{
  margin: 0 auto;
  width: 1200px;
}
ul{
  padding: 0;
  margin: 0;
}
li{
  list-style: none;
}
.home-layout{
  height: 100px;
}
.layer-header{
  height: 99px;
  line-height: 99px;
  position: fixed;
  top:0;
  left: 0;
  z-index: 99;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #ededed;
}
.a-logo{
  position: relative;
  padding-right: 15px;
}
.a-logo>img{
  vertical-align: middle;
}
.a-logo::after{
  display: block;
  content: '';
  width: 1px;
  height: 25px;
  position: absolute;
  top: 37px;
  right: 0;
  background-color: #e2e2e2;
}
.des{
  padding-left: 15px;
  color:#999;
  font-size: 13px;
}
.menus li{
  float: left;
}
.menus li>a{
  padding-bottom: 5px;
  margin: 0 20px;
  color:#333;
}
.menus li>a.z-active{
  color:#106acf;
  position: relative;
  border-bottom: 2px solid #106acf;
}
.menus li>a.product,
.menus li>a.advantage,
.menus li>a.case,
.menus li>a.about,
.menus li>a.news,
.menus li>a.join,
.menus li>a.home{
  background: transparent;
}
/* .menus li>a.z-active::after{
  display: block;
  content: '';
  width: 30px;
  height: 1px;
  position: absolute;
  background-color: #106acf;
  top: 65px;
  left: 50%;
  margin-left: -15px;
} */
.login,.signin{
  padding: 8px 25px;
  font-size: 14px;
  border-radius:25px; 
}
.login{
  color:#2c90ed;
  border: 1px solid #2c90ed;
}
.signin{
  color: #fff;
  background-color:  #128ffa;
}
/* icon */
.icon{
  display:block;
}
.icon-logo{
  width: 59px;
  height: 70px;
  background-image: url("../images/icon-logo.png");
  background-size: 59px 70px;
}
.icon-own-id{
  width: 48px;
  height: 70px;
  background-image: url("../images/icon-own-id.png");
  background-size: 48px 70px;
}
.icon-applet{
  width: 70px;
  height: 70px;
  background-image: url("../images/icon-applet.png");
  background-size: 70px 70px;
}
.icon-note{
  width: 45px;
  height: 70px;
  background-image: url("../images/icon-note.png");
  background-size: 45px 70px;
}
.icon-community{
  width: 43px;
  height: 43px;
  background-image: url("../images/icon-community.png");
  background-size: 43px 43px;
}
.icon-ecosystem{
  width: 43px;
  height: 43px;
  background-image: url("../images/icon-ecosystem.png");
  background-size: 43px 43px;
}
.icon-retail{
  width: 43px;
  height: 43px;
  background-image: url("../images/icon-retail.png");
  background-size: 43px 43px;
}
.icon-applet{
  width: 70px;
  height: 70px;
  background-image: url("../images/icon-applet.png");
  background-size: 70px 70px;
}
.icon-ticket{
  width: 72px;
  height: 62px;
  background-image: url("../images/icon-ticket.png");
  background-size: 72px 62px;
}
.icon-skip{
  width: 46px;
  height: 61px;
  background-image: url("../images/icon-skip.png");
  background-size: 46px 61px;
}
.icon-ksp{
  width: 47px;
  height: 62px;
  background-image: url("../images/icon-ksp.png");
  background-size: 46px 62px;
}
.icon-rocket{
  width: 74px;
  height: 70px;
  background-image: url("../images/icon-rocket.png");
  background-size: 74px 70px;
}
.icon-shop{
  width: 75px;
  height: 70px;
  background-image: url("../images/icon-shop.png");
  background-size: 75px 70px;
}
.icon-poster{
  width: 83px;
  height: 71px;
  background-image: url("../images/icon-poster.png");
  background-size: 83px 71px;
}
.icon-gift{
  width: 77px;
  height: 81px;
  background-image: url("../images/icon-gift.png");
  background-size: 77px 81px;
}
.icon-kalendar{
  width: 60px;
  height: 54px;
  background-image: url("../images/icon-kalendar.png");
  background-size: 60px 54px;
}
.icon-diamond{
  width: 78px;
  height: 68px;
  background-image: url("../images/icon-diamond.png");
  background-size: 78px 68px;
}
.icon-robot{
  width: 61px;
  height: 74px;
  background-image: url("../images/icon-robot.png");
  background-size: 61px 74px;
}
.icon-qq{
  width: 20px;
  height: 24px;
  background-image: url("../images/icon-qq.png");
  background-size: 20px 24px;
}
.icon-telephone{
  width: 20px;
  height: 20px;
  background-image: url("../images/icon-telephone.png");
  background-size: 20px 20px;
}
.icon-top{
  width: 18px;
  height: 11px;
  background-image: url("../images/icon-top.png");
  background-size: 18px 11px;
}
.icon-mark-code{
  width: 18px;
  height: 18px;
  background-image: url("../images/icon-mark-code.png");
  background-size: 18px 18px;
}
.icon-telephone-active{
  width: 17px;
  height: 20px;
  background-image: url("../images/icon-telephone-active.png");
  background-size: 17px 20px;
}
.icon-innovate{
  width: 23px;
  height: 23px;
  background-image: url("../images/icon-innovate.png");
  background-size: 23px 23px;
  background-repeat: no-repeat;
}
.icon-star{
  width: 23px;
  height: 23px;
  background-image: url("../images/icon-star.png");
  background-size: 23px 23px;
  background-repeat: no-repeat;
}
.icon-credit{
  width: 23px;
  height: 23px;
  background-image: url("../images/icon-credit.png");
  background-size: 23px 23px;
  background-repeat: no-repeat;
}
.icon-heart{
  width: 23px;
  height: 23px;
  background-image: url("../images/icon-heart.png");
  background-size: 23px 23px;
  background-repeat: no-repeat;
}
.icon-feel{
  width: 23px;
  height: 23px;
  background-image: url("../images/icon-feel.png");
  background-size: 23px 23px;
  background-repeat: no-repeat;
}
.icon-trademark{
  width: 110px;
  height: 102px;
  background-image: url("../images/icon-trademark.png");
  background-size: 110px 102px;
}
.icon-product{
  width: 110px;
  height: 110px;
  background-image: url("../images/icon-product.png");
  background-size: 110px 110px;
}
.icon-server{
  width: 105px;
  height: 106px;
  background-image: url("../images/icon-server.png");
  background-size: 105px 106px;
}
.icon-bazaar{
  width: 110px;
  height: 110px;
  background-image: url("../images/icon-bazaar.png");
  background-size: 110px 110px;
}
.icon-resource{
  width: 107px;
  height: 110px;
  background-image: url("../images/icon-resource.png");
  background-size: 107px 110px;
}
.icon-edit{
  width: 57px;
  height: 60px;
  background-image: url("../images/icon-edit.png");
  background-size: 57px 60px;
}
.icon-meeting{
  width: 53px;
  height: 44px;
  background-image: url("../images/icon-meeting.png");
  background-size: 53px 44px;
}
.icon-protocol{
  width: 48px;
  height: 56px;
  background-image: url("../images/icon-protocol.png");
  background-size: 48px 56px;
}
.icon-cultivate{
  width:52px;
  height:51px;
  background-image: url("../images/icon-cultivate.png");
  background-size: 52px 51px;
}
.icon-right-arrows{
  width:55px;
  height:40px;
  background-image: url("../images/icon-right-arrows.png");
  background-size: 55px 40px;
}
.icon-right-arrows-bg{
  width:55px;
  height:40px;
  background-image: url("../images/icon-right-arrows-bg.png");
  background-size: 55px 40px;
}
.buoy{
  position: fixed;
  right: 0;
  top: 50%;
  z-index: 99;
}
.buoy ul>li{
  width: 45px;
  height: 45px;
  margin-bottom: 4px;
  background: #4e7bfc;
  position: relative;
  cursor: pointer;
}
.buoy ul>li>.icon{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.buoy ul>li>.icon.icon-qq{
  width: 45px;
  height: 45px;
  background-position: center center;
  background-repeat: no-repeat;
}
.buoy .markCode{
  position: absolute;
  right: -300px;
  width: 100px;
  height: 100px;
  max-width:none;
  border: 1px solid #3764e4;
}
.buoy .telephone{
  width: 162px;
  padding: 8px 10px;
  position: absolute;
  right: -300px;
  border: 1px solid #3764e4;
  background-color: #fff;
  font-size: 18px;
}
.buoy .consult{
  width: 130px;
  padding: 8px 10px;
  position: absolute;
  right: -300px;
  border: 1px solid #3764e4;
  background-color: #fff;
  font-size: 18px;
  text-align: center;
}
.buoy ul>li:hover{
  background-color: #3764e4;
}
.buoy .telephone .icon-telephone-active{
  margin-right: 5px;
  margin-top: 5px;
}

.footer-layout{
  background-color: #10142a;
}
.footer-container{
  padding: 50px 0 70px;
}
.footer-layout  .footer-container--sx{
  width: 1070px;
  padding: 50px 0 30px;
}
.footer-layout .lable-title{
  font-size: 14px;
  color:#fff;
  padding-top: 25px;
}
.footer-layout .lable-title--top{
  padding-top: 15px;
}
.footer-layout .site{
  width: 680px;
  text-align: left;
  color:#939599;
  padding-left: 45px;
  padding-right: 45px;
  border-right: 1px solid #272936;
  height: 163px;
  overflow: hidden;
}
.footer-layout .workday{
  font-size: 13px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.footer .advisory{
  padding-right: 45px;
}
.footer-layout .advisory-qq{
  padding: 4px 10px;
  font-size: 12px;
  border: 1px solid #272936;
  color:#fff;
}
.footer-layout .dynamic{
  color: #fff;
  text-align: left;
  padding-left: 45px;
  height: 250px;
  overflow: hidden;
}
.footer-layout .dynamic-title{
  font-size: 16px;
  padding-bottom: 25px;
}
.footer-layout .dynamic .more{
  color: #fff;
}
.dynamic>ul>li{
  font-size: 13px;
  padding-bottom: 25px;
}
.footer-layout .attention{
  padding: 60px 0;
}
.footer-layout .attention>p{
  font-size: 12px;
  color: #999;
  padding-top: 10px;
  text-align: center;
}
.footer-layout .copyright{
  color:#999;
  font-size: 12px;
  padding: 30px 0;
  border-top: 1px solid #272936;
}
.footer-layout .sy-code{
  width: 150px;
  height: 150px;
}
.footer-layout .copyright{
  text-align: center;
}


