
@{
    ViewBag.Title = "微信精准推送，助力老会员复购破百万-艾客";
    ViewBag.KeyWords = "精准推送、微信运营、复购率";
    ViewBag.Description = "微信新媒体运营、电商老会员维护、微信里的精准推送";
    Layout = "~/Views/Index/Info/_Layout.cshtml";
    string imgPath = Url.Content("~/Content/Login/info/"); 
}
<div class="wrapper content-wrap">
    <div class="inner-body">
        <div class="table">
            <div class="cell">
                <div class="info-container">
                    <h1 class="title">微信精准推送，助力老会员复购破百万！</h1>
                    <div class="cn-panel">
                        <p>
                            众所周知，老会员的维护是尤为重要的，在保健品类目更是如此。精准的短信和邮件已经十分普遍，但是以现在的短信触达率，发送之后几乎石沉大海。短信至少也是3分一条，发10w条就几千块了，很多时候短信费用投入并没有看到相应的转化，感觉短信越来越鸡肋。
看似道路一片光明的新媒体，却给我带来了新的噩梦……
                        </p>
                        <p>微信运营真的很难！</p>
                        <p>
                            微信是未来的趋势，新媒体的选择，微信是不二之选，但是微信的运营真的难！辛辛苦苦把会员引进来了，服务号依旧受每月4条免费推送信息的限制；推广告，消费者觉得营销味道太重，掉粉率一高再高；推送心灵鸡汤，也会因为无趣引来更多的掉粉。
运营辛苦了几个月，最关键的销售量化数据根本没有呈现，ROI根本无法考量！
                        </p>
                        <p>
                           微信里的精准推送！？
                        </p>
                        <p>
                           自从去年使用了艾客平台后，沉淀了还算可观的会员人数，因此在双十一的时候尝试借力微信做了一波活动，效果非常不错！也想借此分享一下。
这次活动，微信端主要是以辅助为主；因此分成四波微信进行推送，而具体精准推送的玄机，
                            <div><img src="@(imgPath)content/4-1.jpg"></div>
                            <div><img src="@(imgPath)content/4-2.jpg"></div>
                            <div><img src="@(imgPath)content/4-3.jpg"></div>
                            <div><img src="@(imgPath)content/4-4.jpg"></div>
                        </p>
                        <p>从预热，高潮，冲刺一环扣一环啊。可能大家会疑惑，为什么服务号能推送5次，其实服务号的推送规则是每人每月推送4次，做不了精准分组就只有统发4次，但是做到人群精准分组就是n次啦！</p>
                        <p>基于艾客平台我们已经可以实现基于微信的社群营销平台搭建，对用户进行多维度的进行分组（包括购买的宝贝，购买次数，金额，时间进行分组），并实施精准推送。也就是说，现在的模式是把传统的crm的数据分析搬到了微信上来，不仅利用微信推送取代了短信和邮件，还提高了n倍的触达率，而且是推送0成本，实现更低的成本更高效率的会员维护。
                        </p>
                        <p>反平台绑架！
                        </p>
                        <p>针对我们现在的这种模式，就是在把某猫、某宝等平台的会员引导到微信做精细化运营和精准营销，无论是触达率，会员粘性，互动性以及最重要的复购率将大大的提升。
                        </p>
                        <P>
                           而这只是表面的，更重要的是我们店铺可以实现把平台会员的主动权掌握回自己手里！！
                        </P>
                        <p>
                           我们沉淀在平台的会员，其实不能说是属于商家的会员，应该说是平台的；就是因为平台掌握着我们的核心会员，所以平台可以对商家设定规则，绑架商家。假如有个工具可以帮商家建立个独立于平台的会员库，当某猫某宝不给我开店，我们可以把粉丝引导到某东，某店去，甚至到我们官网去购买。短信和邮件已经不能承载这个使命了。从信息的触达率，会员的互动，粘性培养，精准营销，复购， 以及最后的品牌宣传等因素考虑，微信+精准营销模式，在未来一段时期内都是有大好的机会！
                        </p>
                        <p>
                            未来的赢家模式将是得会员者，得天下！
                        </p>
                       
                    </div>
                </div>
            </div>
            <div class="cell news-list">
                @{Html.RenderPartial("Info/_RightPartial");}
            </div>
        </div>
    </div>
</div>