html,body{
  background-color: #ffffff;
}
.misp-wrap{
  max-width: 1920px;
  min-width: 1200px;
  margin: 0 auto;
  padding-top: 71px;
  color:#666666;
}
.misp-wrap .red{
  color: #ef1921;
}
.misp-wrap h1,
.misp-wrap h2,
.misp-wrap h3{
  padding: 0;
  margin: 0;
}

.misp-wrap .hd{
  text-align: center;
}
.misp-wrap .hd h1{
  font-size: 30px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 2px;
}
.misp-wrap .hd .desc{
  font-size: 14px;
  color: #666666;
}

.misp-wrap .banner{
  min-width: 1200px;
  height: 507px;
  position: relative;
  background: url("../images/misp-banner.jpg") center center no-repeat;
  margin-bottom: 39px;
  overflow: hidden;
}
.misp-spm{
}
.misp-spm .ins{
  width: 891px;
  position: relative;
  margin: 0 auto 20px auto;
}

.misp-spm-1{
  background-color: #ffffff;
}
.misp-spm-1 .ins{
  height: 917px;
  background: url("../images/misp-spm-1.jpg") no-repeat;
}
.misp-spm-1 .hd{
  padding-top: 38px;
}
.misp-spm-1 .hd-2{
  position: absolute;
  width: 100%;
  top:330px;
}
.misp-spm-1 .ls{
  position: absolute;
  top:488px;
  left: 62px;
  width: 800px;
}
.misp-spm-1 .ls li{
  float: left;
  width: 445px;
  height: 136px;
}
.misp-spm-1 .ls li.even{
  width: 350px;
}
.misp-spm-1 .ls li .wp{
  padding-top: 0;
  padding-left: 98px;
}

.misp-spm-1 .ls li .title{
  font-size: 20px;
  color: #000000;
}
.misp-spm-1 .ls li .desc{
  font-size: 14px;
  color: #8c8c8c;
}
.misp-spm-1 .ls li.l1 .wp{
  padding-top: 10px;
}
.misp-spm-1 .ls li.l6 .wp{
  padding-top: 26px;
}

.misp-spm-2,
.misp-spm-6{
  background-color: #f8fafc;
}
.misp-spm-2 .ins{
  height: 694px;
  background: url("../images/misp-spm-2.jpg") no-repeat;
}

.misp-spm-2 .hd{
  padding-top: 46px;
}
.misp-spm-2 .hd h1{
  font-weight: normal;
  font-size: 36px;
}
.misp-spm-2 .hd .desc{
  font-size: 18px;
}
.misp-spm-2 .txt{
  position: absolute;
  top:186px;
  left: 430px;
}
.misp-spm-2 .txt h2{
  font-size: 18px;
  color: #333333;
  margin-bottom: 17px;
}
.misp-spm-2 .txt .in{
  color: #5f76a2;
  font-size: 16px;
}
.misp-spm-2 .txt .in p{
  margin-bottom: 6px;
}

.misp-spm-3 .ins{
  height: 1054px;
  background: url("../images/misp-spm-3.jpg") no-repeat;
}
.misp-spm-3 .hd{
  padding-top: 32px;
}
.misp-spm-3 .hd h1{
  font-size: 36px;
  font-weight: normal;
}

.misp-spm-3 .sc,
.misp-spm-4 .sc{
  text-align: center;
  padding-top: 77px;
}
.misp-spm-3 .sc h1,
.misp-spm-4 .sc h1{
  font-weight: normal;
  font-size: 36px;
  color: #ff7800;
}
.misp-spm-3 .sc .cns,
.misp-spm-4 .sc .cns{
  padding-top: 21px;
  line-height: 1.7;
}
.misp-spm-3 .sc .title,
.misp-spm-4 .sc .title{
  font-size: 24px;
  font-weight: bold;
  color: #000000;
}


.misp-spm-4 .ins{
  height: 764px;
  background: url("../images/misp-spm-4.jpg") no-repeat;
}
.misp-spm-4 .sc{
  padding-top: 34px;
}

.misp-spm-5 .ins{
  height: 576px;
  background: url("../images/misp-spm-5.jpg") no-repeat;
}
.misp-spm-5 .hd{
  padding-top: 30px;
}
.misp-spm-5 .hd h1{
  font-size: 30px;
  padding-left: 15px;
  font-weight: normal;
}

.misp-spm-6 .ins{
  height: 617px;
}
.misp-spm-6 .hd{
  padding-top: 48px;
  margin-bottom: 40px;
}
.misp-spm-6 .hd h1{
  font-size: 36px;
  font-weight: normal;
  margin-bottom: 10px;
}
.misp-spm-6 .hd .desc{
  font-size: 18px;
}
.misp-spm-6 .hd .yl{
  color: #ff7800;
}
.misp-spm-6 .spm-form .btn-submit{
  width: 187px;
  height: 46px;
  line-height: 45px;
  background-color: #ffa800;
  margin-left: 225px;
  margin-top: 10px;
}



.spm-form{
  width: 604px;
  margin: 0 auto;
}
.spm-form .ls{
  padding-bottom: 10px;
}
.spm-form li{
  margin-bottom: 20px;
  position: relative;
}
.spm-form li:after{
  content: ' ';
  display: table;
  clear: both;
}
.spm-form li .title{
  display: block;
  width: 152px;
  text-align: right;
  float: left;
  font-size: 18px;
  color: #000000;
  line-height: 50px;
  margin-right: 33px;
}
.spm-form li .star{
  color: #ff0000;
}
.spm-form li .input{
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  width: 418px;
  border: 1px #cccccc solid;
  outline: 0;
  font-size:14px;
}
.spm-form .btn-submit{
  width: 184px;
  height: 40px;
  line-height: 38px;
  background-color: #ed1c46;
  color: #ffffff;
  text-align: center;
  border: 0;
  border-radius: 30px;
  font-size: 18px;
  margin-left: 300px;
  outline: 0;
}
.spm-form li input.error{
  border-color: #ef1921;
}
.spm-form li p.error{
  margin: 0;
  padding: 0;
  color: #ef1921;
  font-size: 12px;
  position: absolute;
  top: 50px;
  left: 190px;
  display: none;
}